.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(6, 106, 188, 0.588);
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name {
  font-size: 25px;
  color: rgb(38, 39, 39);
  z-index: 1;
  align-items: center;
  margin-left: 20%;
color: rgba(254, 253, 253, 0.484);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
}
.date{
  max-height: fit-content;
  min-width: 70%;
  margin-left: 120%;
  margin-right: 0%;
  justify-content: center;
  color: rgba(254, 253, 253, 0.484);

}
@media (max-width :800) {
 .name {
  margin: 15px 0;
  font-size: 35px;
 }
}