
.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(6, 106, 188, 0.588);
}
.header{
  font-size: 15px;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
 left: 50%; top: 0%; right: 0%;
}
.name {
  z-index: 1;
  align-items: center;
color: rgba(254, 253, 253, 0.484);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
}
.date{
padding-right: 0%;
padding-left: 0%;
  max-height: fit-content;
  min-width: 25%;
  margin-right: 0%;
  justify-content: center;
  color: rgba(254, 253, 253, 0.484);
  position: absolute; top: 0%; right: 0%;
font-size: 10px;;
}

@media( max-width :700) {
  .header {
  font-size: 2px;
  flex-direction: column;
  }
 .name {
  font-size: smaller;
  font-size: 1px;
 }
 .date{  
margin-right: 5%;  font-size: 10px;
  }
}